<div class="ng-tns-c41-108 surface-border mt-3 p-0 p-dialog-content">
  <div class="field col">
    <label for="name" class="block text-indigo-300 font-bold">Name</label>
    <span class="p-input-icon-left w-full" style="height: 3.5rem">
      <i class="pi pi-user" style="left: 1.5rem"></i>
      <input
        type="text"
        pInputText
        placeholder="Name"
        class="w-full px-7 text-900 font-semibold"
        [(ngModel)]="name"
        style="height: 3.5rem" />
    </span>
  </div>

  <div class="field col">
    <label for="email" class="block text-indigo-300 font-bold">Email Address</label>
    <span class="p-input-icon-left w-full" style="height: 3.5rem">
      <i class="pi pi-envelope" style="left: 1.5rem"></i>
      <input
        type="text"
        pInputText
        placeholder="Email"
        class="w-full px-7 text-900 font-semibold"
        [(ngModel)]="email"
        style="height: 3.5rem" />
    </span>
  </div>

  <div class="field col">
    <label for="email" class="block text-indigo-300 font-bold">Company Name</label>
    <span class="p-input-icon-left w-full" style="height: 3.5rem">
      <i class="pi pi-briefcase" style="left: 1.5rem"></i>
      <input
        type="text"
        pInputText
        placeholder="Company Name"
        class="w-full px-7 text-900 font-semibold"
        [(ngModel)]="company"
        style="height: 3.5rem" />
    </span>
  </div>

  <div class="field col">
    <label for="email" class="block text-indigo-300 font-bold">Company Size</label>
    <span class="p-input-icon-left w-full" style="height: 3.5rem">
      <i class="pi pi-users" style="left: 1.5rem"></i>
      <input
        type="number"
        pInputText
        placeholder="Company Size"
        class="w-full px-7 text-900 font-semibold"
        [(ngModel)]="companySize"
        style="height: 3.5rem" />
    </span>
  </div>

  <div class="field col-12 flex flex-column">
    <label for="message" class="block text-indigo-300 font-bold">Project Summary</label>
    <textarea
      id="message"
      rows="5"
      pInputTextarea
      class="w-full surface-border p-4 text-900 font-semibold border-round"
      [autoResize]="true"
      [(ngModel)]="message"></textarea>
    <button pButton class="p-button-primary ml-auto mt-3" label="Send Message"></button>
  </div>
</div>
