$primaryColor: #722ed1 !default;
$primaryLightColor: #fbfcff !default;
$primaryDarkColor: #390881 !default;
$primaryDarkerColor: #390881 !default;
$primaryTextColor: #ffffff !default;
$primary500: #722ed1 !default;

$highlightBg: #fbfcff !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
