<div class="relative flex flex-column justify-content-center">
  <p-toast></p-toast>
  <div class="landing-wrapper">
    <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
      <!-- Hero -->
      <div id="hero" class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-6 md:py-8">
        <div
          class="col-12 md:col-7 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
          <span class="block text-900 font-bold text-4xl">Revolutionising Energy Management for Businesses</span>
          <span class="text-700 block text-xl mt-2 line-height-3">
            Our AI-driven platform for seamless energy management. Tailored to your unique business needs, we facilitate
            smarter, greener decisions for a sustainable future.
          </span>
          <button
            pButton
            pRipple
            type="button"
            label="Get Started"
            icon="pi pi-arrow-right"
            iconPos="right"
            class="w-12rem"
            (click)="showContacUs()"></button>
        </div>

        <div class="col-12 md:col-5 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
          <img
            animateEnter="moveinright"
            src="assets/images/hero-image.png"
            alt=""
            class="w-full h-full border-round animation-duration-1000 animation-ease-out" />
        </div>
      </div>

      <!-- Partner -->
      <div id="partner" class="my-6 py-6 md:my-8 md:py-8 mb-2 pb-2">
        <div class="flex flex justify-content-center align-items-center">
          <span class="info-violet text-700 mb-4 text-center text-primary flex"
            ><i class="pi pi-eye mr-1 font-bold"></i>Why Nova</span
          >
        </div>
        <span class="text-900 block font-bold text-4xl mb-4 text-center"
          >Your Trusted Partner in Streamlined Energy Management
        </span>
        <span class="text-700 block text-xl mb-2 line-height-3 hero-text text-center"
          >At Nova, we believe the journey to energy efficiency should be as seamless as it is impactful. We're devoted
          to empowering businesses to take charge of their energy usage, providing a comprehensive suite of tools and
          services designed to simplify and streamline the process. 
        </span>
        <div class="grid">
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full surface-card flex flex-column align-items-center">
              <img
                animateEnter="scalein"
                src="assets/images/end-to-end.svg"
                alt="components icon"
                class="text-center mb-3" />
              <span class="text-900 text-center block font-semibold mb-3 text-lg"
                >End-to-End Solutions, Simplified</span
              >
              <p class="m-0 text-secondary text-700 text-center">
                With Nova, managing your energy usage becomes a worry-free affair. Our full suite of services means you
                won't have to juggle between multiple service providers. We've got it all under one roof.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full surface-card flex flex-column align-items-center surface-border">
              <img src="assets/images/newsletter-dev.svg" alt="components icon" class="text-center block mb-3" />
              <span class="text-900 block font-semibold mb-3 text-lg text-center">Future-Ready Technology</span>
              <p class="m-0 text-secondary text-700 text-center">
                We believe in harnessing the power of technology to facilitate smarter, greener choices. Our use of
                cutting-edge AI technology helps you understand and manage your energy usage like never before.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full surface-card flex flex-column align-items-center surface-border">
              <img src="assets/images/timeline.svg" alt="components icon" class="text-center block mb-3" />
              <span class="text-900 block font-semibold mb-3 text-lg text-center">Data-Driven Insights</span>
              <p class="m-0 text-secondary text-700 text-center">
                Our powerful analytics tools convert vast volumes of raw data into easily understandable and actionable
                insights. Make well-informed decisions and strategies for energy usage based on solid data.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sustainability -->
      <div
        id="sustainability"
        class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-6 md:py-8">
        <div class="col-12 md:col-5 flex-order-1 md:flex-order-0 mb-6 md:mb-0 border-round">
          <img
            animateEnter="moveinright"
            src="assets/images/fast-track.svg"
            alt=""
            class="w-full h-full border-round animation-duration-1000 animation-ease-out" />
        </div>

        <div
          class="col-12 md:col-6 flex flex-column gap-4 flex-order-o md:flex-order-1 align-items-center md:align-items-start text-center md:text-left">
          <div class="flex flex justify-content-center align-items-center">
            <span class="info-violet text-700 mb-4 text-center text-primary">
              <img
                animateEnter="scalein"
                src="assets/images/electronic-circuit.svg"
                alt="components icon"
                class="text-center mr-2" />For Sustainability Solutions Providers
            </span>
          </div>
          <span class="block text-900 font-bold text-4xl">Fast-Track to Sustainable Impact</span>
          <span class="text-700 block text-xl mb-2 line-height-3 hero-text"
            >Our end-to-end, plug-and-play solution, instantly enabling sustainability providers to deliver intelligent
            energy management to all customers without scaling operations.</span
          >
        </div>
      </div>

      <!-- Accelerating Your Path to Market -->
      <div
        id="sustainability"
        class="grid grid-nogutter justify-content-between align-items-center py-6 md:mb-6 md:py-8 pb-2 mb-2">
        <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
          <img
            animateEnter="moveinright"
            src="assets/images/accelerating-path.png"
            alt=""
            class="w-full h-full border-round animation-duration-1000 animation-ease-out" />
        </div>

        <div
          class="col-12 md:col-5 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
          <div class="flex flex justify-content-center align-items-center">
            <span class="info-violet text-700 mb-4 text-center text-primary">
              <img
                animateEnter="scalein"
                src="assets/images/compass.svg"
                alt="components icon"
                class="text-center mr-2" />For Hardware Manufacturers
            </span>
          </div>
          <span class="block text-900 font-bold text-4xl">Accelerating Your Path to Market</span>
          <span class="text-700 block text-xl mb-2 line-height-3 hero-text"
            >Nova's AI-powered cloud platform lets hardware manufacturers hit the market faster. With maintenance-free,
            ever-evolving technology, you'll always have access to cutting-edge AI and cloud innovations.</span
          >
        </div>
      </div>

      <!-- Industries -->
      <div id="industries" #industries class="industries-container my-6 py-6 md:my-8 md:py-8">
        <div
          *ngIf="layoutContainer && industries"
          class="industries-backgound"
          [ngStyle]="{
            width: layoutContainer.offsetWidth + 'px',
            'left.px': ((industries?.offsetWidth || 0) - (layoutContainer.offsetWidth || 0)) / 2
          }"
          [style.width]="layoutContainer.offsetWidth">
          <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="731" viewBox="0 0 1440 731" fill="none">
            <path
              opacity="0.47"
              d="M0 730.5L1439.52 591.458L1440 0L0 176.472V730.5Z"
              fill="url(#paint0_linear_204_56)" />
            <defs>
              <linearGradient
                id="paint0_linear_204_56"
                x1="629.279"
                y1="178.333"
                x2="651.256"
                y2="733.223"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9F0FF" />
                <stop offset="1" stop-color="#E2F1FF" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <span class="text-900 block font-bold text-4xl mb-4 text-center">Industries </span>
        <span class="text-700 block text-xl mb-2 line-height-3 hero-text text-center">
          From intelligent buildings utilising IoT technology to logistics firms aiming for cost-efficient operations
          and manufacturers seeking energy-intensive processes optimisation, Nova's energy monitoring services are
          applicable across a variety of sectors.
        </span>
        <div class="grid">
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full flex flex-column align-items-center">
              <img
                animateEnter="scalein"
                src="assets/images/end-to-end.svg"
                alt="components icon"
                class="text-center mb-3" />
              <span class="text-900 text-center block font-semibold mb-3 text-lg"
                >End-to-End Solutions, Simplified</span
              >
              <p class="m-0 text-secondary text-700 text-center">
                With Nova, managing your energy usage becomes a worry-free affair. Our full suite of services means you
                won't have to juggle between multiple service providers. We've got it all under one roof.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full flex flex-column align-items-center surface-border">
              <img src="assets/images/newsletter-dev.svg" alt="components icon" class="text-center block mb-3" />
              <span class="text-900 block font-semibold mb-3 text-lg text-center">Future-Ready Technology</span>
              <p class="m-0 text-secondary text-700 text-center">
                We believe in harnessing the power of technology to facilitate smarter, greener choices. Our use of
                cutting-edge AI technology helps you understand and manage your energy usage like never before.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6 xl:col-4 flex justify-content-center p-3">
            <div class="box p-4 w-full flex flex-column align-items-center surface-border">
              <img src="assets/images/timeline.svg" alt="components icon" class="text-center block mb-3" />
              <span class="text-900 block font-semibold mb-3 text-lg text-center">Data-Driven Insights</span>
              <p class="m-0 text-secondary text-700 text-center">
                Our powerful analytics tools convert vast volumes of raw data into easily understandable and actionable
                insights. Make well-informed decisions and strategies for energy usage based on solid data.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Join us -->
      <div id="juon-us" class="my-6 py-6 md:my-8 md:py-8 mb-2 pb-2 flex flex-column align-items-center">
        <span class="text-900 block font-bold text-4xl mb-5 text-center">
          Join us in revolutionising the way businesses manage energy
        </span>
        <span class="text-700 block text-xl mb-5 line-height-3 hero-text text-center">
          Reach out to us today to learn more about how our advanced energy monitoring services can propel your business
          towards greater efficiency, significant cost savings, and a greener future.
        </span>
        <button
          pButton
          pRipple
          type="button"
          label="Speak to an expert"
          iconPos="right"
          class="w-12rem"
          (click)="showContacUs()"></button>
      </div>

      <div class="footer grid justify-content-between my-6 pt-4 md:my-8">
        <div class="col-12 md:col-2 text-center md:text-left">
          <a class="cursor-pointer" href="#">
            <img src="assets/images/Logo.svg" />
          </a>
        </div>

        <div class="col-12 md:col-10 lg:col-7">
          <div class="grid text-center md:text-left">
            <div class="col-12 md:col-3">
              <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Company</h4>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">About Us</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">News</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Investor Relations</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Careers</a>
              <a class="line-height-3 block cursor-pointer text-700">Media Kit</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Resources</h4>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Get Started</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Learn</a>
              <a class="line-height-3 block cursor-pointer text-700">Case Studies</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Community</h4>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Discord</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Events</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">FAQ</a>
              <a class="line-height-3 block cursor-pointer text-700">Blog</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Legal</h4>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Brand Policy</a>
              <a class="line-height-3 block cursor-pointer mb-2 text-700">Privacy Policy</a>
              <a class="line-height-3 block cursor-pointer text-700">Terms of Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
