<div class="layout-container" [ngClass]="containerClass">
  <div class="relative overflow-hidden flex flex-column layout-content-wrapper">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right: -800px; transform: rotate(60deg)"></div>
    <app-topbar></app-topbar>
    <app-breadcrumb class="content-breadcrumb"></app-breadcrumb>
    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="layout-mask"></div>
</div>
