<div
  class="flex align-items-center justify-content-between relative lg:static py-6 px-4 mx-0 md:px-7 lg:px-8 lg:py-6 lg:mx-8">
  <a class="cursor-pointer wia-logo text-primary text-500 font-semibold text-5xl" [routerLink]="['/']"> NOVA </a>
  <a
    pRipple
    class="cursor-pointer block md:hidden text-700 text-primary"
    pStyleClass="@next"
    enterClass="ng-hidden"
    enterActiveClass="px-fadein"
    leaveToClass="ng-hidden"
    leaveActiveClass="px-fadeout"
    [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <ul
    #menu
    style="top: 80px; right: 0%"
    class="list-none p-3 md:p-0 justify-content-end ng-hidden md:flex absolute md:static w-full md:w-6 md:px-0 z-3 shadow-2 md:shadow-none surface-card md:surface-ground">
    <a
      pRipple
      class="cursor-pointer block md:hidden text-700 text-primary absolute z-5"
      style="top: 1.5rem; right: 1.5rem"
      pRipple
      pStyleClass="@parent"
      enterClass="ng-hidden"
      enterActiveClass="px-fadein"
      leaveToClass="ng-hidden"
      leaveActiveClass="px-fadeout">
      <i class="pi pi-times text-3xl"></i>
    </a>

    <li class="md:mt-0">
      <a
        routerLink="/energy"
        pRipple
        pStyleClass="@grandparent"
        enterClass="ng-hidden"
        enterActiveClass="px-fadein"
        leaveToClass="ng-hidden"
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
        <span>Energy</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/product"
        pRipple
        pStyleClass="@grandparent"
        enterClass="ng-hidden"
        enterActiveClass="px-fadein"
        leaveToClass="ng-hidden"
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
        <span>Product</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/pricing"
        pRipple
        pStyleClass="@grandparent"
        enterClass="ng-hidden"
        enterActiveClass="px-fadein"
        leaveToClass="ng-hidden"
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
        <span>Pricing</span>
      </a>
    </li>
    <li>
      <a
        href="https://developers.wia.io/"
        pRipple
        pStyleClass="@grandparent"
        enterClass="ng-hidden"
        enterActiveClass="px-fadein"
        leaveToClass="ng-hidden"
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
        <span>Developers</span>
      </a>
    </li>

    <li class="flex align-items-center">
      <a href="https://dashboard.wia.io/auth/login">
        <button
          pButton
          pRipple
          type="button"
          pStyleClass="@grandparent"
          enterClass="ng-hidden"
          enterActiveClass="px-fadein"
          leaveToClass="ng-hidden"
          label="Log In"
          class="m-0 mt-3 md:mt-0 md:ml-5 white-space-nowrap"></button
      ></a>
    </li>
  </ul>
</div>
