/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

/* Layout */
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';
@import '../node_modules/primeicons/primeicons.css';

/* Quill Text Editor for p-editor */
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';

.bg-circle {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-image: linear-gradient(140deg, var(--primary-color), var(--surface-ground) 80%);
  position: fixed;
  opacity: 0.25;
  z-index: -1;
}

.visibility-hidden {
  visibility: hidden;
}

.moveinright {
  animation: moveinright 0.15s linear;
}
.wia-logo {
  img {
    height: 34px;
    width: auto;
  }
}

// hero
.hero-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  svg {
    min-height: 50vh;
  }
}

// topbar
.topbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1.5rem 2rem;
  z-index: 999;
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;

  .topbar-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  ul {
    margin: 0 !important;
  }
}
.topbar.active {
  background: linear-gradient(180deg, #fff 0%, #e2f1ff 100%);
  //#E2F1FF// rgba(255, 255, 255, 0.9);
}

// PrimeNg

.p-dialog .p-dialog-header {
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-color: var(--surface-border) !important;
}
